{% extends 'base.html' %}

{% block content %}
<h1 class="bg-secondary text-center text-white shadow rounded"> Studio Ghibli Films List</h1>

<!-- Iterate through all the film data-->
{% for film in film_data %}
    <!-- show SN using forloop.counter and show film title-->
    <div class="card shadow mb-2">
        <div class="card-header font-weight-bold">
            {{forloop.counter}}. {{ film.title }}
        </div>
       <div class="card-body">
            <ul>
            <!-- loop through the all people data -->
            {% for people in people_data %}
                <!-- Check if film url in people films and show his/her name -->
                {% if film.url in people.films %}
                    <li>{{ people.name }}</li>
                {% endif %}
                <!-- End of film url checking section -->
            {% endfor %}
            <!-- End of people loop-->
            </ul>
       </div>
    </div>
{% endfor %}
<!-- End of film data iteration-->

{% endblock content %}
